<?xml version="1.0" encoding="UTF-8"?>
<!-- 添加 DUBBO SCHEMA -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 应用名 -->
    <dubbo:application name="CS-System"/>
    <!-- 连接到哪个本地注册中心
    <dubbo:registry id="dubbodemo" address="zookeeper://localhost:2181"/> -->
    <dubbo:registry id="jj" address="zookeeper://140.143.4.171:2181"/>
    <!-- 用dubbo协议在20880端口暴露服务 -->

    <dubbo:protocol name="dubbo" port="20880"/>
    <!-- 声明需要暴露的服务接口 -->
    <bean id="csSystem" class="com.altale.service.impl.CSSystemImpl" />
    <dubbo:service registry="jj" timeout="3000" interface="com.altale.service.CSSystem" ref="csSystem"/>

    <dubbo:reference id="accountService" interface="buaa.jj.accountservice.api.AccountService"/>

</beans>